{% extends 'base.html.twig' %}

{% block title %}Liste des départements par régions{% endblock %}

{% block body %}
    <div class="container mt-5">
        <form action="" method="GET">
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <select class="form-control" name="region" id="region">
                            <option value="all">Toutes les régions</option>
                            {% for maRegion in mesRegions %}
                            <option value="{{ maRegion.code }}" {% if app.request.query.get("region") == maRegion.code %} selected {% endif %}>
                                {{ maRegion.nom }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col md 2">
                    <button type="submit" class="btn btn-primary">Rechercher</button>
                </div>
            </div>
        </form>
        <div class="row">
        <h1>Liste des départements</h1>
            {% for monDepartement in mesDepartements %}
                <div class="col-md-3">
                    <div class="card border-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">{{ monDepartement.code }}</div>
                        <div class="card-body">
                            <h4 class="card-title">{{ monDepartement.nom }}</h4>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
